# Ignore everything by default
*

# Don’t ignore these folders and their contents
!app/
!app/**

!assets/
!assets/**

!demos/
!demos/**

!dist/
!dist/**

# Don’t ignore specific files
!index.html
!README.md
