# Ignore everything by default
*

# Don’t ignore these folders and their contents
!app/
!app/**

!assets/
!assets/**

!demos/
!demos/**

!dist/
!dist/**

!dev/
!dev/functions/
!dev/functions/**
!dev/methods/
!dev/methods/**
!dev/tools/
!dev/tools/**
!dev/jet-dev.js
!dev/com.js





# Don’t ignore specific files
!index.html
!README.md
